body{
    background-image: url(img/wallpapersden.com_76063-1920x1080.jpg);
}
h2{
    text-align: center;
}
form{
   display: block;
    padding: 50px;
    width: 100vh;
    color: snow;
    margin-right: auto;
    margin-left: auto;
}
form input{
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 40%;
    width: 23%;
    height: 15px;
    border: 1px solid red;
}